@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

body {
  transition: background 0.3s, color 0.3s;
  font-family: "Inter", sans-serif;
}

body.light {
  background: #ffffff;
  color: #000000;
}

body.dark {
  background: #252128;
  color: #ffffff;
}

.container {
  padding: 0 100px;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffffab;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 50px;
  font-weight: bold;
  color: #422d86;
  z-index: 5;
}

.dark .card:hover p,
.dark .card:hover a {
  color: black;
}

.dark .card:hover button {
  color: white;
  border-color: black;
}

@media (max-width: 768px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px;
  }
  .gap-10 {
    gap: unset;
  }
  .flex {
    flex-wrap: wrap;
  }
  .switcherContainer {
    flex-direction: row;
    justify-content: center;
  }
  .headerComponent ul {
    gap: 15px;
  }
  .headerComponent header {
    height: 20px;
    align-content: space-around;
  }
  .h-\[10vh\] {
    height: 8vh;
  }
  .mainComponent .text-6xl {
    font-size: xx-large;
  }
  .mainComponent .pr-16 {
    font-size: small;
  }
  .mainComponent .mt-7 {
    margin: 1rem auto;
  }
  .text-3xl {
    font-size: x-large;
    padding: unset;
  }
  .text-xl {
    font-size: medium;
    padding-top: unset;
  }
  .text-sm {
    font-size: small;
  }
  .skillsComponent .py-3 .pb-3 {
    padding-bottom: unset;
  }
  .skillsComponent .gap-16 {
    gap: 1rem;
  }
  .part1 {
    font-size: small;
    gap: 6px;
  }
  .part2 {
    font-size: x-small;
    width: 95vw;
  }
  .profileComponent .text-3xl {
    font-size: x-large;
  }
  .profileComponent .py-3 {
    padding: unset;
  }
  .profileComponent .gap-32 {
    gap: 1rem;
  }
  .footerComponent .py-10 {
    padding: 5px;
  }
  .footerComponent .pb-16 {
    padding: 15px;
    gap: 15px !important;
  }
}
