@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

body {
  transition: background 0.3s, color 0.3s;
}

body.light {
  background: #ffffff;
  color: #000000;
}

body.dark {
  background: #121212;
  color: #ffffff;
}

.container {
  padding: 0 100px;
}
